.bender/
build/
src/vendor
src/tb/cheshire
vsim/modelsim.ini
transcript
vsim/wave.wlf
vsim/*.log
stims/
**/*.swp

# Logs from benchmarks (maintainer: heksa)
logs/*.log
!logs/*-frozen.log

# Rust build artifacts
**/target/
