.bender/
build/
src/ip/safety_island
src/ip/apb_spi_master
src/ip/obi
src/tb/cheshire
vsim/modelsim.ini
transcript
vsim/wave.wlf
vsim/*.log
verilator/vip
stims/
**/*.swp

# Rust build artifacts
**/target/
